@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

.red_back {
    background-color: red;
}

.info_btn {
    background-color: mintcream;
    border-color: palegreen;
    padding: 5px;
}

.search_error {
    color: grey;
}

.search {
    display: inline-block;
    margin: 10px;
}

.search2 {
    font-size: 30px;
    padding: 15px;
    display: inline-block;
}

.search_results_head {
    text-align: center;
    margin: auto;
    font-size: 25px;
    color: teal;
    text-decoration: underline;
    font-style: italic;
    margin-top: 2rem;

}

.search_results_container {
    width: 60%;
    margin: auto;
}

.search_btn {
    background-color: #4CAF50;
    color: white;
    border: 0px;
    padding: 5px;
    border-radius: 10px;
    display: inline-block;
}

.container80 {
    width: 80%;
    margin: auto;
    text-align: center;

}

.search_text {
    color: grey;
    padding: 5px;
}

.search_btn:hover {
    background-color: palegreen;
}

.next_container {
    margin: auto;
    width: 200px;
    display: block;
}

.select_container {
    width: 30%;
    text-align: center;
    margin: auto;
    display: inline-block;
    margin:2rem;
}

.margin0 {
    margin:0px;
}

.w50 {
    width:50%;
}

a {
    text-decoration: none;
}

nav {
    width: 50%;
    float: right;
    display: inline-block;
    margin-top: 30px;
}

nav a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    border-radius: 15px;
    background-color: teal;
    margin-left: 5px;
    margin-right: 5px;
    font-family: 'Balsamiq Sans', cursive;
}

nav a:hover {
    background-color: darkcyan;
    color: white;
}


a.active:hover {
    background-color: #4CAF50;
    color: white;

}

.active {
    background-color: #4CAF50;
    color: white;
}

.connected_msg {
    text-align: center;
    color: darkgrey;
    margin: 0.5rem;
    font-size: 15px;
}

.not_connected_msg {
    text-align: center;
    color: red;
}

.w50 {
    width: 50%;
    display: inline-block;
}

.heading_container {
    text-align: left;
    background-color: rgb(230, 230, 230);
    display: inline-block;
    width: 100%;
}

.sub_heading {
    font-size: 20px;
    padding: 0px;
    margin: 0px;
    margin-bottom: 20px;
    font-family: cursive;
    color: grey;
}

.wgc_logo {
    width: 56px;
    height: 56px;
    margin-right: 10px;
}

body {
    width: 100%;
}

main{
    width: 80%;
    margin: auto;
    margin-top: 2rem;
    height:auto;
    overflow: auto;
}

.menu_icon_container {
    width: 100%;
    border-top: palegreen dotted 5px;
    border-bottom: palegreen dotted 5px;
    display: inline-block;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 3rem;
}

.menu_icon {
    display: inline-block;
    margin: 2rem;
}

.no_margin {
    margin: 0px;
}

.menu_display {
    width: 70%;
    margin-top: 3rem;
    text-align: center;
    display: inline-block;
    float: right;
}

.menu_table th, td {
    padding: 15px;
    text-align: left;
}

.menu_table_header {
    background-color: palegreen;
}

.reset_button {
    background-color: #4CAF50;
    font-size: 20px;
    border: none;
    border-radius: 20px;
    padding: 10px;
    color: white;
    width: 50%;
    text-align: center;
    margin: 1rem;
}

.reset_button:hover {
    background-color: palegreen;
}

.menu_table tr.menu_table_button:hover {
    background-color: palegreen;
}

.menu_table tr.menu_table_header:hover {
    background-color: palegreen;
}

.menu_table tr:hover {
    background-color: rgb(235, 235, 235);
}

.menu_table {
    width: 90%;
    margin: auto;
    margin-left: 3rem;
    font-size: 23px;
    border: 2px palegreen solid;
    margin-top: 2rem;
}

.menu_button_table {
    font-size: 23px;
    margin-top: 2rem;
    width: 100%;
}

.sidebar {
    width: 30%;
    display: inline-block;
    overflow: auto;
    text-align: center;
}

.menu_header {
    font-style: italic;
    font-size: 50px;
    text-decoration: underline;
    color: teal;
    font-weight: 100;
    margin: 0px;
    padding: 0px;
}

.about_header {
    font-style: italic;
    font-size: 50px;
    text-decoration: underline;
    color: teal;
    font-weight: 100;
    margin: 0px;
    padding: 0px;
    text-align:center;
}

.about_us_img {
    width:300px;
    height:300px;
    margin:auto;
    margin-top:2rem;
    margin-bottom:2rem;

    display:block;
    border-radius:100px;
    background-image:url("coffee.jpg");
    background-size: contain;
    background-repeat:no-repeat;
}

iframe {
    border:0px;
    width:600px;
    height:450px;
}

.about_container {
    width:60%;
    height:auto;
    margin:auto;
    margin-bottom:2rem;
}
.about_us_text {
    width:100%;
    height:300px;
    font-size:30px;
    display:block;
    margin:auto;
    text-align:center;

}

.contact_us_text {
    width:70%;
    text-align:center;
    height:300px;
    font-size:30px;
    margin:auto;
    display:block;
    padding-top:2rem;
}
.inline_block {
    display: inline-block;
}

.product_info_container {
    width: 50%;
    overflow: auto;
    border: 3px teal solid;
    padding: 30px;
    font-size: 25px;
    margin-top: 3rem;
    display: inline-block;
    float: left;
}

.product_name {
    font-size: 40px;
    color: orange;
    margin-top: 2rem;
    margin-bottom: 0rem;
    padding: 0px;
    font-family: 'Balsamiq Sans', cursive;
}

.category_column {
    width: 80px;
    display: block;
    margin-top: 3rem;
}

.next_down {
    background-color: sandybrown;
    color: white;
    width: 70px;
    height: 50px;
    border-radius: 50%;
    font-size: 25px;
    float: left;
    border: none;
}

.next_up {
    background-color: sandybrown;
    color: white;
    width: 70px;
    height: 50px;
    border-radius: 50%;
    font-size: 25px;
    margin-left: 30px;
    float: right;
    border: none;
}

.next_up:hover {
    background-color: orange;
}

.next_down:hover {
    background-color: orange;
}

.menu_button_table input {
    background-color: sandybrown;
    font-size: 18px;
    border: none;
    border-radius: 20px;
    padding: 5px;
    color: white;
    text-align: center;
    margin: auto;
    width: 60%;
}

.menu_button_table form {
    text-align: center;
}

.menu_button_table th {
    color: teal;
    text-decoration: underline;
}

.menu_button_table input:hover {
    background-color: orange;
}

.category_font {
    font-size: 18px;
    border: none;
    text-decoration: none;
    cursor: pointer;
    margin: 0px;
    padding: 0px;
}

.category_font:hover {
    color: rgba(0, 0, 0, 0);
}

h1 {
    font-size: 55px;
    font-weight: 100;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    text-align: left;
    font-family: 'Libre Baskerville', serif;
    margin: 0px;
    color: teal;
}

h3 {
    font-size: 25px;
    font-family: 'Balsamiq Sans', cursive;
    font-weight: 100;
    margin: 0;
}

.text_right {
    text-align: right;
}

.text_left {
    text-align: left;
}

.text_center {
    text-align:center;
}


img {
    padding: 0px;
    margin: 0px;
    display: inline;
}

.msg_box {
    margin: auto;
    width: 50%;
    margin-top: 3rem;
    margin-bottom: 3rem;
    text-align: center;
    font-size: 25px;
    padding: 50px;
    border: 5px solid teal;
}

.notices {
    float: left;
    width: 28.5%;
    font-size: 20px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    height: 300px;
    margin-bottom: 5rem;
}

.border_right {
    border-right: lightgrey 2px dotted;
}

.date {
    font-size: 25px;
    text-align: left;
    color: grey;
    float: right;
    margin-right: 1rem;
    margin-top: 3rem;
}

.notices_container {
    width: 100%;
    height: 300px;
}

.notices_header {
    background-color: indianred;
    text-align: center;
    width: 90%;
    font-size: 30px;
    margin: auto;
    margin-bottom: 3rem;
    color: white;
}

.index_heading {
    color: teal;
    text-align: center;
    font-size: 40px;
    margin: auto;
    margin-bottom: 1.5rem;
    font-family: 'Libre Baskerville', serif;
    text-decoration: underline;
    margin-top: 25rem;
}

.index_top {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 130px;
    text-align: center;
    padding-top: 7rem;
    padding-bottom: 7rem;
    background-image: url("noodles.jpg");
    display: block;
    color: white;
    font-size: 50px;
    margin-bottom: 5rem;
    margin-top:5rem;
}

.location_container {
    width: 100%;
    height: 650px;
    text-align:center;
}

.address_container {
    width: 30%;
    font-size: 30px;
    float: right;
    margin-right: 4rem;
}

.fs25 {
    font-size:25px;
}

.fs30 {
    font-size: 30px;
}


.fs70 {
    font-size: 70px;
}

.icon_container {
    width: 100%;
    margin: auto;
    overflow: auto;
    text-align: center;
    padding-top: 3rem;
    margin-bottom: 5rem;
    border-top: palegreen dotted 5px;
    border-bottom: palegreen dotted 5px;
    padding-bottom: 3rem;
}

.icon_container2 {
    width: 130px;
    min-height: 130px;
    margin: 2rem;
    display: inline-block;
    color: grey;
    padding: 5px;
}

.icon_container2:hover {
    color: cornflowerblue;
}

.icon100 {
    width: 100px;
    height: 100px;
}

.icon70 {
    width: 70px;
    height: 70px;
}

.sweets_icon {
    background-image: url("sweets_icon.jpg");
    background-size: contain;
}

.sweets_icon:hover {
    background-image: url("sweets_icon2.jpg");
}

.drinks_icon {
    background-image: url("drinks_icon.jpg");
    background-size: contain;
}

.drinks_icon:hover {
    background-image: url("drinks_icon2.jpg");
}

.lunches_icon {
    background-image: url("lunches_icon.jpg");
    background-size: contain;
}

.lunches_icon:hover {
    background-image: url("lunches_icon2.jpg");
}

.snacks_icon {
    background-image: url("snacks_icon.jpg");
    background-size: contain;
}

.snacks_icon:hover {
    background-image: url("snacks_icon2.jpg");
}

.specials_icon {
    background-image: url("specials_icon.jpg");
    background-size: contain;
}

.specials_icon:hover {
    background-image: url("specials_icon2.jpg");
}

.margin_bottom {
    margin-bottom: 5rem;
}

.specials_container {
    width: 60%;
    text-align: center;
    font-size: 30px;
    margin: auto;
    border: palegreen 3px solid;
    margin-top: 2rem;
}

.full_menu_button {
    background-color: #4CAF50;
    font-family: 'Balsamiq Sans', cursive;
    font-size: 25px;
    color: white;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    width: 20rem;
    margin-top: 20px;
}


.full_menu_button:hover {
    background-color: palegreen;

}

.footer {
    background-color: teal;
    width: 100%;
    height: 25rem;
    margin-top: 2rem;
    color:lightgrey;
}

.footer_container {
    width: 100%;
}


.category_container {
    width: 30%;
    display: inline-block;
    background-color: red;
    float: left;
}

.category_icon {
    width: 70px;
    height: 70px;
}

.menu_container {
    width: 70%;
    display: inline-block;
    background-color: blue;
    float: right;
}

.footer_table {
    margin: 3rem;
    font-size: 20px;
    font-family: 'Libre Baskerville', serif;
    float: left;
    width: 500px;
    color:lightgrey;
}

.location_container2 {
    font-size: 20px;
    font-family: 'Libre Baskerville', serif;
    margin: 3rem;
    float: left;
    width: 500px;
}

.specials_text {
    font-size: 30px;
    color: indianred;
    text-align: center;
}

.price_old {
    text-decoration-line: line-through;
    color: grey;
    font-size: 20px;
}

.price_new {
    color: indianred;
    font-size: 40px;
}

.center {
    text-align: center;
}

.red {
    color: indianred;
}

.temp_icon {
    width: 50px;
    height: 50px;
}